@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Yrsa:wght@300;400&family=Prata&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Yrsa", "Prata", "Poppins", sans-serif;
  font-weight: 300;
  background-color: #000;
}

/* pseudoelement for selecting text and turns background yellow and text black */
::selection {
  color: #000;
  background-color: #ff0;
}

::moz-selection {
  color: #000;
  background-color: #ff0;
}